<a href="https://colab.research.google.com/github/Arju-cmd/Feature-Selection/blob/main/Feature_Selection_Dropping_constant_features.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Import pandas to create DataFrame 
import pandas as pd 
  
# Make DataFrame of the given data 
data = pd.DataFrame({"A":[1,2,4,1,2,4], 
                    "B":[4,5,6,7,8,9], 
                    "C":[0,0,0,0,0,0],
                    "D":[1,1,1,1,1,1]})

In [2]:
data.head()

   A  B  C  D
0  1  4  0  1
1  2  5  0  1
2  4  6  0  1
3  1  7  0  1
4  2  8  0  1

In [4]:
# Variance Threshold
# Feature selector that removes all low-variance features.

#This feature selection algorithm looks only at the features (X), not the desired outputs (y), and can thus be used for unsupervised learning.

In [5]:
### It will zero variance features
from sklearn.feature_selection import VarianceThreshold
var_thres=VarianceThreshold(threshold=0)
var_thres.fit(data)

VarianceThreshold(threshold=0)

In [6]:
var_thres.get_support()

array([ True,  True, False, False])

In [7]:
# Only first and second column have variance 3rd and 4th column have zero variance

In [8]:
data.columns[var_thres.get_support()]

Index(['A', 'B'], dtype='object')

In [9]:
constant_columns = [column for column in data.columns
                    if column not in data.columns[var_thres.get_support()]]

print(len(constant_columns))

2

In [10]:
for feature in constant_columns:
     print(feature)

C
D

In [11]:
data.drop(constant_columns,axis=1)

   A  B
0  1  4
1  2  5
2  4  6
3  1  7
4  2  8
5  4  9